refferences
setuid
http://www.computerhope.com/unix/uchmod.htm
https://major.io/2007/02/13/chmod-and-the-mysterious-first-octet/
http://linuxg.net/how-to-set-the-setuid-and-setgid-bit-for-files-in-linux-and-unix/
https://en.wikipedia.org/wiki/Hidden_file_and_hidden_directory

nmap
https://www.linux.com/learn/beginners-guide-nmap
http://www.tecmint.com/nmap-command-examples/
http://linuxcommand.org/man_pages/nmap1.html
http://nlp.stanford.edu/IR-book/html/htmledition/dns-resolution-1.html
https://www.bleepingcomputer.com/tutorials/tcp-and-udp-ports-explained/
https://en.wikipedia.org/wiki/Open_port

https://nmap.org/book/man-port-scanning-techniques.html

iptables
https://www.cyberciti.biz/faq/iptables-block-port/
http://www.howtogeek.com/177621/the-beginners-guide-to-iptables-the-linux-firewall/
https://www.cyberciti.biz/tips/linux-iptables-examples.html

snort
http://www.thegeekstuff.com/2010/08/snort-tutorial
https://samsclass.info/122/proj/120-p15N-snort.html
https://samsclass.info/122/proj/120-p15N-snort.html

https://www.researchgate.net/publication/273346420_Study_on_sensitive_information_leakage_vulnerability_modeling
http://dl.acm.org/citation.cfm?id=884426


